.taskdetail {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottom {
    margin-top: auto;
    display: flex;
}

.button {
    background-color: rgb(23, 115, 252);
    color: white;
    border: none;
}